<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta charset="utf-8">
<title>Not Found</title>
<link rel="shortcut icon" href="/favicon.ico">
<style>
* { margin: 0; padding: 0; }
body { background: #fff; color: #202122; font: 0.938em/1.6 sans-serif; }
.content { margin: 7% auto 0; padding: 2em 1em 1em; max-width: 640px; }
img { float: left; margin: 0 2em 2em 0; }
a img { border: 0; }
h1 { margin-top: 1em; font-size: 1.2em; }
p { margin: 0.7em 0 1em 0; }
a { color: #36c; text-decoration: none; }
a:hover { text-decoration: underline; }
em { color: #72777d; font-style: normal; }
</style>
<div class="content" role="main">
<a href={{url_for('views.upload')}}><img src={{url_for('static', filename='404.ico')}} alt=404 width=135 height=135></a>
<h1>Page not found</h1>
<p><em>{{request_url}}</em></p>
<p>We could not find the above page on our servers.</p>
<p style="clear:both;">Alternatively, you can visit the <a href={{url_for('views.upload')}}>Main Page</a> or read <a href="https://en.wikipedia.org/wiki/HTTP_404" title="Wikipedia: HTTP 404">more information</a> about this type of error.</p>
</div>
</html>