<html>
    <head>
      {% if title %}
      <title>Welcome to {{ title }} </title>
      {% else %}
      <title>Title is missing!</title>
      {% endif %}
    </head>
    <body>
    <h1>Hello! This is test project based on Flask and statsmodel frameworks!</h1>
    <h2>Please, use "advertising.csv" dataset to perform Linear Model computation, response generation and plots downloading!</h2>
        <hr>
     {% block content %}{% endblock %}
    </body>
</html>