{% extends "base.html" %}

{% block content %}
<h2>Download link for plots: <a href="{{ url_for('views.download') }}">Download plots!</a></h2>
<h3>JSON response model for Linear Regression!</h3>
<table>
    <tr>
        <td><pre>{{ response|tojson_pretty|safe }}</pre></td>
    </tr>
</table>
{% endblock %}
