{% extends "base.html" %}

{% block content %}
<h2>"Upload advertising.csv" File</h2>
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>

{% endblock %}